[global]
keystone_endpoint=http://192.168.1.16:5000
user=admin
password=secret
report_file=/var/log/downtimer.report
use_udp=True
#udp_port=8086
[db]
adapter=influx
#host=sqlite:///downtimer.db
host=monit-ent.vm.mirantis.net
port=8086
